# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: [pre-commit, commit-msg, pre-push]
default_stages: [pre-commit]
minimum_pre_commit_version: 4.0.0

repos:

# These meta hooks check the pre-commit configuration itself.
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

# Commitizen enforces semantic and conventional commit messages.
- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.8.2
  hooks:
  - id: commitizen
    name: Check conventional commit message
    stages: [commit-msg]

# Enable a whole bunch of useful helper hooks, too.
# See https://pre-commit.com/hooks.html for more hooks.
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-added-large-files
    stages: [pre-commit]
    args: [--maxkb=500]
  - id: end-of-file-fixer
    stages: [pre-commit]
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
    stages: [pre-commit]
  - id: detect-private-key
  - id: detect-aws-credentials
    args: [--allow-missing-credentials]
  - id: check-yaml
  - id: check-toml

# Check and prettify the configuration files.
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  # Commenting this out because https://github.com/pappasam/toml-sort/issues/11
  # - id: pretty-format-toml
  #   args: [--autofix]

#
# Backend.
#

# Sort imports.
- repo: https://github.com/pycqa/isort
  rev: 6.0.1
  hooks:
  - id: isort
    name: Sort import statements
    files: ^backend/
    args: [--settings-path, backend/develop.toml]
    stages: [pre-commit]

# Add Black code formatters.
- repo: https://github.com/ambv/black
  rev: 25.1.0
  hooks:
  - id: black
    name: Format code
    files: ^backend/
    args: [--config, backend/develop.toml]
- repo: https://github.com/asottile/blacken-docs
  rev: 1.19.1
  hooks:
  - id: blacken-docs
    name: Format code in docstrings
    files: ^backend/
    types: [text, python]
    args: [--line-length, '120']
    additional_dependencies: [black==25.1.0]

# Upgrade and rewrite Python idioms.
- repo: https://github.com/asottile/pyupgrade
  rev: v3.20.0
  hooks:
  - id: pyupgrade
    name: Upgrade code idioms
    files: ^backend/src/template_jobs/|^backend/tests/
    args: [--py313-plus]

# Similar to pylint, with a few more/different checks. For more available
# extensions: https://github.com/DmytroLitvinov/awesome-flake8-extensions
- repo: https://github.com/pycqa/flake8
  rev: 7.2.0
  hooks:
  - id: flake8
    name: Check flake8 issues
    files: ^backend/src/template_jobs/|^backend/tests/
    types: [text, python]
    additional_dependencies: [flake8-bugbear==24.12.12, flake8-builtins==2.5.0, flake8-comprehensions==3.16.0, flake8-docstrings==1.7.0, flake8-logging==1.7.0, flake8-mutable==1.2.0, flake8-noqa==1.4.0, flake8-print==5.0.0, flake8-pyi==25.5.0, flake8-pytest-style==2.1.0, flake8-rst-docstrings==0.3.1, pep8-naming==0.15.1]
    args: [--config, backend/.flake8]

# Run Pylint from the local repo to make sure venv packages
# specified in pyproject.toml are available.
- repo: local
  hooks:
  - id: pylint
    name: Check pylint issues
    entry: pylint
    language: python
    files: ^backend/src/template_jobs/|^backend/tests/
    types: [text, python]
    args: [--rcfile, backend/develop.toml]

# Type-check all Python code.
- repo: local
  hooks:
  - id: mypy
    name: Check typing annotations
    entry: mypy
    language: python
    files: ^backend/src/template_jobs/|^backend/tests/
    types: [text, python]
    args: [--config-file, backend/develop.toml]

# Check for potential security issues.
- repo: https://github.com/PyCQA/bandit
  rev: 1.8.3
  hooks:
  - id: bandit
    name: Check for security issues
    files: ^backend/src/template_jobs/|^backend/tests/
    types: [text, python]
    args: [--configfile, backend/develop.toml]
    additional_dependencies: ['bandit[toml]']

# On push to the remote, run the unit tests.
- repo: local
  hooks:
  - id: pytest
    name: Run unit tests
    entry: env COVERAGE_CORE=sysmon pytest -c backend/develop.toml --cov-config backend/develop.toml backend/src/template_jobs/ backend/tests/ backend/docs/
    language: python
    verbose: true
    always_run: true
    pass_filenames: false
    stages: [pre-push]
